<div id="home" class="lyrics">
  <img class="crumpledPaper b-lazy" data-blazy="../images/backgrounds/crumpled-white-paper-8-shrunk.jpg" alt="Crumpled Paper">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <header class="text-center">
          <h1>cedar park</h1>
          <ul class="navWrapper">
            <li>
              <a href="/?link=band" du-smooth-scroll offset="30" duration="750"><span>Band</span></a>
            </li>
            <!-- <li>
              <a href="/?link=video" du-smooth-scroll offset="30" duration="750"><span>Video</span></a>
            </li> -->
            <li>
              <a href="/?link=music" du-smooth-scroll offset="30" duration="750"><span>Music</span></a>
            </li>
            <li>
              <a ui-sref="lyrics"><span>Lyrics</span></a>
            </li>
            <li>
              <a href="/?link=photos" du-smooth-scroll offset="30" duration="750"><span>Photos</span></a>
            </li>
            <li>
              <a href="/?link=shows" du-smooth-scroll offset="30" duration="750"><span>Shows</span></a>
            </li>
            <li>
              <a href="/?link=contact" du-smooth-scroll offset="30" duration="750"><span>Contact</span></a>
            </li>
          </ul>
          <hr>
          <h4>Counterfeit</h4>
          <div class="spotify-link-wrapper">
            <a href="spotify:artist:2dB2SJYShBsnVa3SvJ5aKQ">
              <img src="../images/counterfeit-album-cover-shrunk.png" class="img-responsive blurryFace" alt="Cedar Park">
            </a>
          </div>
        </header>
      </div>
    </div>
  </div>

  <div class="container-fluid whiteBg">
    <div class="row">
      <div class="col-md-12">
        <section id="band" class="band">
          <div class="album-track">
            <h4>Counterfeit</h4>
            <p>
              Counterfeit thoughts are filling my head<br/>
              All because all I hear's what you said<br/>
              And its because I want to believe<br/>
              That what you say is all that I<br/><br/>

              Need to find alone (forget what it means)<br/>
              And find out on my own (while stuck in between)<br/>
              That what I really need (you struggle to see)<br/>
              Isn't staring back at me (whats been bothering me)<br/><br/>

              Sometimes I wish that I could just break<br/>
              My mouth open and say what I think<br/>
              Because I feel it all pouring in<br/>
              Between who I am and what you<br/><br/>

              Need to find alone (forget what it means)<br/>
              And find out on your own (I'm stuck in between)<br/>
              That what you really need (you struggle to see)<br/>
              Was never really me (whats been bothering me)<br/><br/>

              You find a better place to break apart the way you see<br/>
              The contradictive thoughts and phrase the blends into your ricochets<br/>
              Forget the days you try to be somebody that you couldn't<br/>
              (I let you go, thought we'd waste it all, I let you go and watched you grow)<br/>
              I'm lost for words on what to say<br/>
              (I let you go thought we'd waste it all)<br/>
              I'm locked inside your box<br/>
              (I waste I waste away)<br/>
              What do you want me to say<br/><br/>

              You need to find alone (forget what it means)<br/>
              And find out on your own (I'm stuck in between)<br/>
              That what you really need (you struggle to see)<br/>
              Was never hard to see (whats been bothering me)
            </p>
          </div>
          <div class="album-track margin-top">
            <h4>Concrete Lies</h4>
            <p>
              Falling down, keeping up my composure, in what I can't deny<br/>
              Take a hit, call it quits, for the reasons, carved in your concrete lies.<br/>
              Waking up from a reoccurring nightmare, trying to rely<br/>
              On the times that i knew you'd never be there, why should I<br/><br/>

              Try to be what you mean to me<br/>
              Losing track of values<br/>
              Trying not to change from my naive ways<br/>
              Absent thoughts continued<br/><br/>

              Come across, such a subtle disturbance, Wasting so much time<br/>
              Waking up on the M from Montgomery losing my god damn mind<br/>
              Only to realize theres a reason I should just deny<br/>
              to be part of a life of a person, who never<br/><br/>

              Tries to be what you mean to me<br/>
              Losing track of values<br/>
              Trying not to change from my naive ways<br/>
              Absent thoughts continued<br/><br/>

              Such a shallow thought, tied up like a knot<br/>
              That will never come lose<br/>
              Now I'll rip this page, let you fade away<br/>
              Not to be continued
            </p>
          </div>
          <div class="album-track margin-top">
            <h4>Cracks</h4>
            <p>
              You aren't near me but you can still hear me<br/>
              Calling through the cracks in my wall<br/>
              I feel it building but its hard to tell that<br/>
              There's not much time at all<br/><br/>

              Keep pacing around me till you see I'm drowning<br/>
              Pull me out and drain my lungs<br/>
              I thought that I'd make it, I thought I could shake it<br/>
              I hear you its not your fault<br/><br/>

              Are we getting close yet<br/>
              Cause its getting hard to see<br/>
              Are we getting close yet<br/>
              Cause its getting hard to see<br/><br/>

              Its the farthest I'll go to a place I don't know<br/>
              Pull away but you draw me in<br/>
              It breaks through my chest like paper splits through a knife<br/>
              That read 94:19<br/>
              And in the same gasping breath that'll take what its left<br/>
              I'll leave what I claimed to be<br/>
              I stood by myself, inside someone else<br/>
              That had no identity<br/><br/>

              Are we getting close yet<br/>
              Cause its getting hard to see<br/>
              Are we getting close yet<br/>
              Cause its getting hard to see<br/><br/>

              I didn't know<br/>
              I would let go<br/>
              I didn't know<br/>
              You'd never go
            </p>
          </div>
          <div class="album-track margin-top">
            <h4>Puzzle Pieces</h4>
            <p>
              Whatever you're making<br/>
              You're making up and I can see<br/>
              That you're changing<br/>
              You're changing your locks without a key<br/><br/>

              And if you find a way back in<br/>
              You probably won't find me<br/>
              No one can see you're lost<br/>
              Cause you're so lost in yourself defeating me<br/><br/>

              You love to hate it<br/>
              You hate to love it all the same<br/>
              I see your eyes grow<br/>
              I see them grow to match your pain<br/><br/>

              And the distant echoes in your head<br/>
              Tell you you're okay<br/>
              But you trip, you fall, you salt your wounds<br/>
              And promise that you'll change<br/><br/>

              Puzzle pieces in my mind<br/>
              Fill the part of you that's missing<br/>
              Out on all of the good times I wish we had<br/><br/>

              And there's a space in every place<br/>
              In every room I see your face<br/>
              I think of you and all the things I wish we did instead
            </p>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <section id="contact" class="contact">
          <h4>Contact</h4>
          <ul class="social">
            <li>
              <a href="https://www.instagram.com/cedarparkband" target="_blank"><img src="../images/instagram-4-48.jpg" alt="Cedar Park Instagram"></a>
            </li>
            <li>
              <a href="https://www.facebook.com/CedarParkBand" target="_blank"><img src="../images/facebook-4-48.jpg" alt="Cedar Park Facebook"></a>
            </li>
            <li>
              <a href="https://cedarparkband.bandcamp.com/releases" target="_blank"><i class="fa fa-bandcamp" aria-hidden="true"></i></a>
            </li>
          </ul>

          <a class="email" href="mailto:thecedarparkband@gmail.com">thecedarparkband@gmail.com</a>
        </section>
      </div>
    </div>
  </div>

  <div class="to-top" ng-click="toTheTop();">
    <div class="icon-uparrow">
      <i class="ion-ios-arrow-thin-up"></i>
    </div>
    <div class="text">Top</div>
  </div>
</div>
