<div id="home" class="lyrics">
  <img class="crumpledPaper b-lazy" data-blazy="../images/backgrounds/crumpled-white-paper-8-shrunk.jpg" alt="Crumpled Paper">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <header class="text-center">
          <h1>cedar park</h1>
          <ul class="navWrapper">
            <li>
              <a href="/?link=band" du-smooth-scroll offset="30" duration="750"><span>Band</span></a>
            </li>
            <li>
              <a href="/?link=video" du-smooth-scroll offset="30" duration="750"><span>Video</span></a>
            </li>
            <li>
              <a href="/?link=music" du-smooth-scroll offset="30" duration="750"><span>Music</span></a>
            </li>
            <li>
              <a ui-sref="lyrics"><span>Lyrics</span></a>
            </li>
            <li>
              <a href="/?link=photos" du-smooth-scroll offset="30" duration="750"><span>Photos</span></a>
            </li>
            <li>
              <a href="/?link=shows" du-smooth-scroll offset="30" duration="750"><span>Shows</span></a>
            </li>
            <li>
              <a href="/?link=contact" du-smooth-scroll offset="30" duration="750"><span>Contact</span></a>
            </li>
          </ul>
          <hr>
          <h4>Demo</h4>
          <img src="../images/demo-min.jpg" class="img-responsive blurryFace" alt="Cedar Park">
        </header>
      </div>
    </div>
  </div>

  <div class="container-fluid whiteBg">
    <div class="row">
      <div class="col-md-12">
        <section id="band" class="band">
          <div class="album-track">
            <h4>Puzzle Pieces</h4>
            <p>
              Whatever you're making<br/>
              You're making up and I can see<br/>
              That you're changing<br/>
              You're changing your locks without a key<br/><br/>

              And if you find a way back in<br/>
              You probably won't find me<br/>
              No one can see you're lost<br/>
              Cause you're so lost in yourself defeating me<br/><br/>

              You love to hate it<br/>
              You hate to love it all the same<br/>
              I see your eyes grow<br/>
              I see them grow to match your pain<br/><br/>

              And the distant echoes in your head<br/>
              Tell you you're okay<br/>
              But you trip, you fall, you salt your wounds<br/>
              And promise that you'll change<br/><br/>

              Puzzle pieces in my mind<br/>
              Fill the part of you that's missing<br/>
              Out on all of the good times I wish we had<br/><br/>

              And there's a space in every place<br/>
              In every room I see your face<br/>
              I think of you and all the things I wish we did instead
            </p>
          </div>
          <div class="album-track margin-top">
            <h4>Alameda</h4>
            <p>
              I fell in luck cause you wanted it now<br/>
              I feel bad cause he's chasing us down<br/>
              And you don't care<br/>
              So I won't care<br/>
              I've never been here<br/>
              I don't wanna get out<br/><br/>

              Its just the weekend, I figured you out<br/>
              You're like the deep end, it's easy to drown<br/>
              And you don't care<br/>
              So I won't care<br/>
              I've never been here<br/>
              And I don't wanna get out<br/><br/>

              And I learned the worlds much bigger than I thought<br/>
              And Alameda's all we needed to get lost<br/>
              We fell asleep in cars, you worried we'd get caught<br/>
              Yea its easy to pretend I'm what you want<br/><br/>

              I fell to pieces, a piece of you fell<br/>
              Out of reach and you're calling for help<br/>
              But I don't care<br/>
              So I won't hear<br/>
              Ya I've been there<br/>
              And I wanna stay out<br/><br/>

              Its 3am and you call me to tal<br/>
              This is the last time you get what you want<br/>
              Cause I don't care<br/>
              So I won't hear<br/>
              Ya I've been there<br/>
              And I wanna stay out<br/><br/>

              And I learned the worlds much bigger than I thought<br/>
              And Alameda's all we needed to get lost<br/>
              We fell asleep in cars, you worried we'd get caught<br/>
              Yea its easy to pretend you're what I want
            </p>
          </div>
          <div class="album-track margin-top">
            <h4>Bones</h4>
            <p>
              Yea you think I stole this song<br/>
              But I knew it all along<br/>
              Just like the things that make me tick<br/>
              And the life I want to live<br/><br/>

              But you'd never know it<br/>
              I try not to show it<br/>
              Cause what you're doing is so damn great<br/>
              Yea it makes the world a better<br/><br/>

              Place your bets on me and maybe<br/>
              I'll second guess what I'm doing<br/>
              Everyday I wake and I wonder<br/>
              How different I'd be If I could<br/><br/>

              Say what the hell I'm really thinking<br/>
              Yea lets say what we're really thinking about<br/>
              What you're talking about is freaking me out<br/>
              And fucking up my day<br/><br/>

              Too late, I'm trying to play catch up<br/>
              But my bones, they break, I fall<br/>
              And that's what I get for giving a shit<br/>
              And thinking I was wrong<br/>
              But I knew it all along<br/><br/>

              Yea the years went by, you're gone<br/>
              But I made it on my own<br/>
              Sometimes my mind finds ways to play<br/>
              All the things you'd like to say<br/>
              If you could do it over<br/>
              Would you put in over time<br/>
              To fix the mess, or not address the things you ruined everyday<br/><br/>

              Too late, I'm trying to play catch up<br/>
              But my bones, they break, I fall<br/>
              And that's what I get for giving a shit<br/>
              And thinking I was wrong<br/>
              But I knew it all along
            </p>
          </div>
          <div class="album-track margin-top">
            <h4>Ghosts</h4>
            <p>
              Do I know you ghost<br/>
              Why do you haunt my home<br/>
              I spend to many hours, just wondering who you are<br/>
              I know you're never far<br/><br/>

              This fears a carnivore<br/>
              And finding sleeps a chore<br/>
              I'm too young to be defeated<br/>
              Don't take my hope and eat it<br/>
              I know you're never far away
            </p>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <section id="contact" class="contact">
          <h4>Contact</h4>
          <ul class="social">
            <li>
              <a href="https://www.instagram.com/cedarparkband" target="_blank"><img src="../images/instagram-4-48.jpg" alt="Cedar Park Instagram"></a>
            </li>
            <li>
              <a href="https://www.facebook.com/CedarParkBand" target="_blank"><img src="../images/facebook-4-48.jpg" alt="Cedar Park Facebook"></a>
            </li>
            <li>
              <a href="https://cedarparkband.bandcamp.com/releases" target="_blank"><i class="fa fa-bandcamp" aria-hidden="true"></i></a>
            </li>
          </ul>

          <a class="email" href="mailto:thecedarparkband@gmail.com">thecedarparkband@gmail.com</a>
        </section>
      </div>
    </div>
  </div>

  <div class="to-top" ng-click="toTheTop();">
    <div class="icon-uparrow">
      <i class="ion-ios-arrow-thin-up"></i>
    </div>
    <div class="text">Top</div>
  </div>
</div>
