<div id="home" class="lyrics">
  <img class="crumpledPaper b-lazy" data-blazy="../images/backgrounds/crumpled-white-paper-8-shrunk.jpg" alt="Crumpled Paper">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <header class="text-center">
          <h1>cedar park</h1>
          <ul class="navWrapper">
            <li>
              <a href="/?link=band" du-smooth-scroll offset="30" duration="750"><span>Band</span></a>
            </li>
            <!-- <li>
              <a href="/?link=video" du-smooth-scroll offset="30" duration="750"><span>Video</span></a>
            </li> -->
            <li>
              <a href="/?link=music" du-smooth-scroll offset="30" duration="750"><span>Music</span></a>
            </li>
            <li>
              <a ui-sref="lyrics"><span>Lyrics</span></a>
            </li>
            <li>
              <a href="/?link=photos" du-smooth-scroll offset="30" duration="750"><span>Photos</span></a>
            </li>
            <li>
              <a href="/?link=shows" du-smooth-scroll offset="30" duration="750"><span>Shows</span></a>
            </li>
            <li>
              <a href="/?link=contact" du-smooth-scroll offset="30" duration="750"><span>Contact</span></a>
            </li>
          </ul>
          <hr>
          <h4>Fake Matter</h4>
          <div class="spotify-link-wrapper">
            <a href="spotify:artist:2dB2SJYShBsnVa3SvJ5aKQ">
              <img src="../images/fake-matter-min.JPG" class="img-responsive blurryFace" alt="Cedar Park">
            </a>
          </div>
        </header>
      </div>
    </div>
  </div>

  <div class="container-fluid whiteBg">
    <div class="row">
      <div class="col-md-12">
        <section id="band" class="band">
          <div class="album-track">
            <h4>Fake Matter</h4>
            <p>
              It's easy to pick apart different pieces<br/>
              When the puzzle has no meaning<br/>
              I'm caught up trying to make a decision<br/><br/>

              But I bite down in spite of my instincts<br/>
              Not trying to follow<br/>
              The thoughts that I wanna believe in<br/>
              But continue to borrow<br/>
              I'm faced with the human condition<br/>
              That's unhinged the notion<br/>
              To move towards an altered position<br/>
              I've left out of focus<br/><br/>

              Keep trying to pick apart different patterns<br/>
              Creating a world of fake matter<br/>
              Spinning in a universe of opinions<br/><br/>

              So I bite down in spite of my instincts<br/>
              Not trying to follow<br/>
              The thoughts that I wanna believe in<br/>
              But continue to borrow<br/>
              I'm faced with the human condition<br/>
              That's unhinged the notion<br/>
              To move towards an altered position<br/>
              I've left out of focus<br/><br/>

              These thoughts make way<br/>
              For absent values<br/>
              And complicate<br/>
              A more refined view<br/>
              To change the way<br/>
              We start to notice<br/>
              As soon as we<br/>
              Are losing focus<br/><br/>

              It's a lesson learned in time my love<br/>
              I can't tell you if it's right<br/>
              Take a look at what I never wanna show<br/>
              What you'll never recognize<br/>
              See the writing on the wall
            </p>
          </div>
          <div class="album-track margin-top">
            <h4>Levee</h4>
            <p>
              Free my hands<br/>
              Cut them loose yea we'll hide the truth<br/>
              Call my name<br/>
              I climb down just hear it again<br/><br/>

              Made my bed<br/>
              Slide in close just to feel a ghost<br/>
              What you left<br/>
              Its just the way to feel it again<br/><br/>

              Let it break<br/>
              Watch it cave<br/>
              You're finally awake<br/><br/>

              Hard to stay<br/>
              Hear them say<br/>
              You're already too late<br/><br/>

              Drain my head<br/>
              It flooded cause the levee was loose<br/>
              Breathe again<br/>
              Take a breath like there's nothing to lose<br/><br/>

              Let it break<br/>
              Watch it cave<br/>
              You're finally awake<br/><br/>

              Hard to stay<br/>
              Hear them say<br/>
              You're already too late<br/><br/>

              You broke it all up<br/>
              Finding your place<br/>
              You made my mess<br/><br/>

              I picked it all up<br/>
              Put it away<br/>
              To save whats left
            </p>
          </div>
          <div class="album-track margin-top">
            <h4>Smoke</h4>
            <p>
              The cannon sticks, you see the smoke but didn't know<br/>
              Out of the back, its coming for ya, you couldn't hide<br/>
              And at your wake, you hear the whispers as a ghost<br/>
              That you're a fake and you thought that I wouldn't mind<br/><br/>

              Your watching me watching them bury the bones<br/>
              With all the things that you thought that I wouldn't find<br/>
              Say a few words, people start to speak in tongues<br/>
              They don't know what I know but I'll show you a sign<br/><br/>

              Tear it apart and turn around to testify<br/>
              You aren't the same but you know you need to find<br/>
              Another way to bring back what you stole again<br/>
              I'm wide awake and I think we're out of time<br/><br/>

              Is there another way, is there another way<br/>
              Don't wanna stay the same, don't wanna stay the same<br/>
              Its not enough so find another way<br/><br/>

              Rewrite the note, that said I'd do this on my own<br/>
              Show me the page that said that this wouldn't die<br/>
              Build us a throne, that sits us up way in the sky<br/>
              Away from all the things that could change my mind<br/><br/>

              Tear it apart and turn around to testify<br/>
              You aren't the same but you know you need to find<br/>
              Another way to bring back what you stole again<br/>
              I'm wide awake and I think we're out of time<br/><br/>

              Is there another way, is there another way<br/>
              Don't wanna stay the same, don't wanna stay the same<br/>
              Its not enough so find another way<br/><br/>

              When it burns down, we'll burn down inside it<br/>
              When I let you go, I let you know you'll never have my name<br/>
              When it burns down, we'll burn down inside it<br/>
              When I let you go, I let you know you'll never have my name<br/><br/>

              Tear it apart and turn around to testify<br/>
              You aren't the same but you know you need to find<br/>
              Another way to bring back what you stole again<br/>
              I'm wide awake and I think we're out of time<br/><br/>

              Is there another way, is there another way<br/>
              Don't wanna stay the same, don't wanna stay the same<br/>
              Its not enough so find another way
            </p>
          </div>
          <div class="album-track margin-top">
            <h4>Knot</h4>
            <p>
              There’s a mess you’ve been spilling<br/>
              Its filling past the top<br/>
              And pretty soon you’re drowning<br/>
              You don’t want it to stop<br/><br/>

              But there’s a rhythm to your distance<br/>
              You can hear it everywhere<br/>
              I try to hold my eyes shut<br/>
              Its still hard not to stare<br/><br/>

              But there's this feeling you've been feeling<br/>
              Its tied up like a knot<br/>
              We'll try to untie it<br/>
              You pull it so its taut<br/>
              Cause you don't want us inside<br/>
              But you don't want us to stop<br/>
              So we're waiting for an answer<br/>
              But you gave it all you got<br/><br/>

              the guilt fills the silence<br/>
              breath cracks the air<br/>
              I'm pretty sure it happened<br/>
              I'm pretty sure you're there<br/><br/>

              But there’s a rhythm to your distance<br/>
              You can hear it everywhere<br/>
              I try to hold my eyes shut<br/>
              Its still hard not to stare<br/><br/>

              But there's this feeling you've been feeling<br/>
              Its tied up like a knot<br/>
              We'll try to untie it<br/>
              You pull it so its taut<br/>
              Cause you don't want us inside<br/>
              But you don't want us to stop<br/>
              So we're waiting for an answer<br/>
              But you gave it all you got
            </p>
          </div>
          <div class="album-track margin-top">
            <h4>Play it Cool</h4>
            <p>
              Well I was broke down by the freeway<br/>
              Catching a glimpse of what was left<br/>
              Fading out into the interstate<br/>
              That would have brought me out of step<br/>
              And it was half past after midnight<br/>
              Smoking your last cigarette<br/>
              Inhaling all the fumes around me<br/>
              Giving me that feeling in my chest<br/><br/>

              I'll play it cool<br/>
              Play it cool<br/>
              I'll play it cool<br/>
              Play it cool<br/><br/>

              I could hardly make a reason<br/>
              For these things I couldn't say<br/>
              Holding steady to my unmade mind<br/>
              And altruistic naive ways<br/>
              Now this message is distorting<br/>
              Giving means to another day<br/>
              Finding light I'll try to recognize<br/>
              Becoming used to constant change<br/><br/>

              I'll play it cool<br/>
              Play it cool<br/>
              I'll play it cool<br/>
              Play it cool<br/><br/>

              There's a never ending problem I can't face<br/>
              Floating farther deeper into time and space<br/>
              Finding comfort in the thoughts that you'll someday<br/>
              Take me higher cut my strings and let me breathe<br/>
              A breathe of ecstasy<br/><br/>

              I'll play it cool<br/>
              Play it cool<br/>
              I'll play it cool<br/>
              Play it cool
            </p>
          </div>
          <div class="album-track margin-top">
            <h4>Catch</h4>
            <p>
              Try to stay clear<br/>
              Of desperate thoughts distorting what is real<br/>
              Break down your walls<br/>
              To pick apart the life you can't resolve<br/><br/>

              But time will will change<br/>
              Your thoughts and ways<br/>
              To be more than what you think<br/><br/>

              I felt so sure<br/>
              Driving faster you couldn't ask for more<br/>
              I should have knew<br/>
              Speeding past your self rewinding moods<br/><br/>

              But time will will change<br/>
              Your thoughts and ways<br/>
              To be more than what you think<br/><br/>

              I'm swallowed by never ending fear<br/>
              Of watching the end of you come near<br/>
              I'm shallow not to think you'll change<br/>
              Just show me pull another string<br/><br/>

              Come down<br/>
              It's not like you can fall down<br/>
              I'll catch you on my own<br/>
              So sweet<br/>
              Reluctant to be something<br/>
              I can't let you go<br/>
              Alone, alone
            </p>
          </div>
          <div class="album-track margin-top">
            <h4>Toast</h4>
            <p>
              Fall apart in cloudy weather<br/>
              Give me grace, I'm somewhat severed<br/>
              Wake me up, I'm feeling better<br/>
              See your face is something I can't<br/>
              Erase, your there forever<br/>
              Always reminding me of<br/>
              Delusional dreams, making fun of how I speak<br/>
              Making me toast, never fall asleep<br/>
              Listening to every record you've ever owned<br/><br/>

              Close my eyes now I'm falling into deep sleep<br/>
              Hypnotized by the way that you are speaking<br/>
              Holding onto something that is slipping<br/>
              When I open my eyes I notice that your leaving
            </p>
          </div>
          <div class="album-track margin-top">
            <h4>Rewind</h4>
            <p>
              We waited so long just to begin<br/>
              Now I'm caught up alone without a way<br/>
              Out of my mind that made me stay<br/>
              Lets take it a part and start again<br/><br/>

              I write down the words and hope they say<br/>
              Exactly what I tried to relay<br/>
              When you woke up alone and found a way<br/>
              To take it apart and start again<br/><br/>

              And when I say that there's still something<br/>
              I think I need to go<br/>
              And when you've taken what you wanted<br/>
              You say I'm all you know<br/><br/>

              And when you feel that you're so haunted<br/>
              with all my ghosts<br/>
              See the signs that say there's something<br/>
              left to let go<br/><br/>

              We'll pick it apart till we're insane<br/>
              and rewind start and start again<br/>
              to stare in the dark at my mistakes<br/>
              and wait till they turn on the light for me<br/><br/>

              We'll pick it apart till we're insane<br/>
              and rewind start and start again<br/>
              to stare in the dark at my mistakes<br/>
              and wait till they turn on the light for me
            </p>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <section id="contact" class="contact">
          <h4>Contact</h4>
          <ul class="social">
            <li>
              <a href="https://www.instagram.com/cedarparkband" target="_blank"><img src="../images/instagram-4-48.jpg" alt="Cedar Park Instagram"></a>
            </li>
            <li>
              <a href="https://www.facebook.com/CedarParkBand" target="_blank"><img src="../images/facebook-4-48.jpg" alt="Cedar Park Facebook"></a>
            </li>
            <li>
              <a href="https://cedarparkband.bandcamp.com/releases" target="_blank"><i class="fa fa-bandcamp" aria-hidden="true"></i></a>
            </li>
          </ul>

          <a class="email" href="mailto:thecedarparkband@gmail.com">thecedarparkband@gmail.com</a>
        </section>
      </div>
    </div>
  </div>

  <div class="to-top" ng-click="toTheTop();">
    <div class="icon-uparrow">
      <i class="ion-ios-arrow-thin-up"></i>
    </div>
    <div class="text">Top</div>
  </div>
</div>
