<div id="home">
  <img class="crumpledPaper b-lazy" data-blazy="../images/backgrounds/crumpled-white-paper-8-shrunk.jpg" alt="Crumpled Paper">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <header class="text-center">
          <h1>cedar park</h1>
          <ul class="navWrapper">
            <li>
              <a href="#band" du-smooth-scroll offset="30" duration="750"><span>Band</span></a>
            </li>
            <li>
              <a href="#music" du-smooth-scroll offset="30" duration="750"><span>Music</span></a>
            </li>
            <li>
              <a href="#photos" du-smooth-scroll offset="30" duration="750"><span>Photos</span></a>
            </li>
            <li>
              <a href="#shows" du-smooth-scroll offset="30" duration="750"><span>Shows</span></a>
            </li>
            <li>
              <a href="#contact" du-smooth-scroll offset="30" duration="750"><span>Contact</span></a>
            </li>
          </ul>
          <hr>
          <h4 class="ep"><span>Counterfeit<br> <span class="home__ep-sub-header"><i>OUT NOW</i></span></span></h4>
          <img src="../images/counterfeit-album-cover-shrunk.png" class="img-responsive blurryFace" alt="Cedar Park">
        </header>
      </div>
    </div>
  </div>
  
  <div class="container-fluid whiteBg">
    <div class="row">
      <div class="col-md-12">
        <section id="band" class="band">
          <h4>Band</h4>
          <p>Cedar Park is a San Francisco based four-piece alternative punk band, who has created a unique sound blending garage punk and pop punk.</p>
          <br>
          <p>
            Ryan Settles - Vocals / Bass<br>
            Wesley Settles - Guitar<br>
            Mark Quaccia - Guitar<br>
            Josh Aaron - Drums
          </p>
        </section>

        <section id="music" class="band">
          <h4>Music</h4>
          <iframe style="border: 0; width: 350px; height: 588px;" src="https://bandcamp.com/EmbeddedPlayer/album=3968810831/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://cedarparkband.bandcamp.com/album/counterfeit">Counterfeit by Cedar Park</a></iframe>
        </section>

        <section id="photos" class="photos">
          <h4>Photos</h4>
          <div class="css-masonry">
            <div ng-repeat="image in cedarParkIG | limitTo: 4">
              <div class="item">
                <a href="{{image.link}}" target="_blank">
                  <img src="{{image.images.standard_resolution.url}}" alt="Cedar Park">
                </a>
              </div>
            </div>
          </div>
        </section>

        <section id="shows" class="shows">
          <h4>Shows</h4>
          <!-- desktop -->
          <table>
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Venue</th>
                <th style="width: 157px;" class="location" scope="col">Location</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
                <td data-label="Date">July 21</td>
                <td data-label="Venue">St. James Gate</td>
                <td class="location" data-label="Location">Belmont, CA</td>
              </tr> -->

              <!-- no shows -->
              <tr class="shows__no-border-bottom">
                <td data-label="Date" class="shows__no-shows-desktop">No Upcoming Dates</td>
              </tr>
            </tbody>
          </table>

          <!-- mobile -->
          <div class="mobile">
            <!-- <div class="dateWrapper">
              <div class="month">July</div>
              <div class="day">21</div>
            </div>
            <div class="venueLocationWrapper">
              <div class="venue"><b>St. James Gate</b></div>
              <div class="location">Belmont, CA</div>
            </div>
            <div style="clear: both;"></div>
            <br> -->

            <!-- no shows mobile -->
            <div class="shows__no-shows-mobile">No Upcoming Dates</div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <section id="contact" class="contact">
          <h4>Contact</h4>
          <ul class="social">
            <li>
              <a href="https://www.instagram.com/cedarparkband" target="_blank"><img src="../images/instagram-4-48.jpg" alt="Cedar Park Instagram"></a>
            </li>
            <li>
              <a href="https://www.facebook.com/CedarParkBand" target="_blank"><img src="../images/facebook-4-48.jpg" alt="Cedar Park Facebook"></a>
            </li>
            <li>
              <a href="https://cedarparkband.bandcamp.com/releases" target="_blank"><i class="fa fa-bandcamp" aria-hidden="true"></i></a>
            </li>
          </ul>

          <a class="email" href="mailto:thecedarparkband@gmail.com">thecedarparkband@gmail.com</a>
        </section>
      </div>
    </div>
  </div>

  <div class="to-top" ng-click="toTheTop();">
    <div class="icon-uparrow">
      <i class="ion-ios-arrow-thin-up"></i>
    </div>
    <div class="text">Top</div>
  </div>
</div>