<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <header class="text-center">
          <h1>cedar park</h1>
          <ul class="navWrapper">
            <li>
              <a href="#band"><span>Band</span></a>
            </li>
            <li>
              <a href="#photos"><span>Photos</span></a>
            </li>
            <li>
              <a href="#shows"><span>Shows</span></a>
            </li>
            <li>
              <a href="#contact"><span>Contact</span></a>
            </li>
          </ul>
          <hr>
          <h4 class="ep"><span>ep coming </span><span>soon</span></h4>
          <img src="../images/blurry-face.jpg" class="img-responsive blurryFace" alt="Cedar Park">
        </header>
        <section id="band" class="band">
          <h4>Band</h4>
          <p>Four loko kitsch drinking vinegar, kale chips bespoke chillwave sustainable cronut PBR&amp;B air plant green juice lumbersexual. Master cleanse scenester meh, chartreuse ramps viral sartorial 8-bit blog dreamcatcher plaid pop-up salvia. Vegan kickstarter PBR&amp;B iPhone. Subway tile heirloom cray, normcore four dollar toast bicycle rights marfa knausgaard DIY man bun af wayfarers mustache synth. Activated charcoal live-edge edison bulb, fap beard chicharrones subway tile salvia vexillologist jean shorts. YOLO lomo man braid, polaroid 90's fingerstache kitsch flannel chartreuse pour-over pop-up dreamcatcher. PBR&amp;B coloring book lyft, wayfarers semiotics austin banh mi.</p>
        </section>
        <sections id="photos" class="photos">
          <h4>Photos</h4>
          <div ng-repeat="image in cedarParkIG">
            <img src="{{image.images.standard_resolution.url}}" alt="Cedar Park">
          </div>
        </sections>
        <section id="shows" class="shows">
          <h4>Shows</h4>
          <table>
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Venue</th>
                <th style="width: 16%;" class="location" scope="col">Location</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label="Date">Apr 23</td>
                <td data-label="Venue">Monty Hall</td>
                <td class="location" data-label="Location">Jersey City, NJ</td>
              </tr>
              <tr>
                <td scope="row" data-label="Date">Apr 24</td>
                <td data-label="Venue">Shaka's</td>
                <td class="location" data-label="Location">Virginia Beach, VA</td>
              </tr>
              <tr>
                <td scope="row" data-label="Date">Apr 25</td>
                <td data-label="Venue">The Grey Eagle</td>
                <td class="location" data-label="Location">Asheville, NC</td>
              </tr>
              <tr>
                <td scope="row" data-label="Date">Apr 26</td>
                <td data-label="Venue">The Underground</td>
                <td class="location" data-label="Location">Charlotte, NC</td>
              </tr>
            </tbody>
          </table>
        </section>
        <section id="contact" class="contact">
          <h4>Contact</h4>
          <ul class="social">
            <li>
              <a href="https://www.instagram.com/cedarparkband" target="_blank"><img src="../images/instagram-4-48.jpg" alt="Cedar Park Instagram"></a>
            </li>
            <li>
              <a href="https://www.facebook.com/CedarParkBand" target="_blank"><img src="../images/facebook-4-48.jpg" alt="Cedar Park Facebook"></a>
            </li>
            <li>
              <a href="https://cedarparkband.bandcamp.com/releases" target="_blank"><i class="fa fa-bandcamp" aria-hidden="true"></i></a>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>