<div id="home" class="lyrics">
  <img class="crumpledPaper b-lazy" data-blazy="../images/backgrounds/crumpled-white-paper-8-shrunk.jpg" alt="Crumpled Paper">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <header class="text-center">
          <h1>cedar park</h1>
          <ul class="navWrapper">
            <li>
              <a href="/?link=band" du-smooth-scroll offset="30" duration="750"><span>Band</span></a>
            </li>
            <!-- <li>
              <a href="/?link=video" du-smooth-scroll offset="30" duration="750"><span>Video</span></a>
            </li> -->
            <li>
              <a href="/?link=music" du-smooth-scroll offset="30" duration="750"><span>Music</span></a>
            </li>
            <li>
              <a ui-sref="lyrics"><span>Lyrics</span></a>
            </li>
            <li>
              <a href="/?link=photos" du-smooth-scroll offset="30" duration="750"><span>Photos</span></a>
            </li>
            <li>
              <a href="/?link=shows" du-smooth-scroll offset="30" duration="750"><span>Shows</span></a>
            </li>
            <li>
              <a href="/?link=contact" du-smooth-scroll offset="30" duration="750"><span>Contact</span></a>
            </li>
          </ul>
          <hr>
          <h4>Lyrics</h4>
        </header>
      </div>
    </div>
  </div>

  <div class="container-fluid whiteBg">
    <div class="row">
      <div class="col-md-12">
        <section id="band" class="band">
          <div class="album-link-wrapper">
            <a ui-sref="fake-matter">
              <h4 class="album-title">Fake Matter</h4>
              <img src="../images/fake-matter-min.JPG" class="img-responsive blurryFace" alt="Cedar Park">
            </a>
          </div>
          <div class="album-link-wrapper">
            <a ui-sref="counterfeit">
              <h4 class="album-title">Counterfeit</h4>
              <img src="../images/counterfeit-album-cover-shrunk.png" class="img-responsive blurryFace" alt="Cedar Park">
            </a>
          </div>
          <div class="album-link-wrapper">
            <a ui-sref="demo">
              <h4 class="album-title">Demo</h4>
              <img src="../images/demo-min.jpg" class="img-responsive blurryFace" alt="Cedar Park">
            </a>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <section id="contact" class="contact">
          <h4>Contact</h4>
          <ul class="social">
            <li>
              <a href="https://www.instagram.com/cedarparkband" target="_blank"><img src="../images/instagram-4-48.jpg" alt="Cedar Park Instagram"></a>
            </li>
            <li>
              <a href="https://www.facebook.com/CedarParkBand" target="_blank"><img src="../images/facebook-4-48.jpg" alt="Cedar Park Facebook"></a>
            </li>
            <li>
              <a href="https://cedarparkband.bandcamp.com/releases" target="_blank"><i class="fa fa-bandcamp" aria-hidden="true"></i></a>
            </li>
          </ul>

          <a class="email" href="mailto:thecedarparkband@gmail.com">thecedarparkband@gmail.com</a>
        </section>
      </div>
    </div>
  </div>

  <div class="to-top" ng-click="toTheTop();">
    <div class="icon-uparrow">
      <i class="ion-ios-arrow-thin-up"></i>
    </div>
    <div class="text">Top</div>
  </div>
</div>
